@use "../shared" as *;

.parallax {
  $self: &;

  &-item {
    @include transform-fix;
    will-change: transform;
  }

  &-zoom {
    position: absolute;
    top: 0;
    left: 0;
    height: 150%;
    width: 100%;
    margin-top: -12.5%;
  }
}