@use "mixins" as *;
@use "variables" as *;
@use "typography" as *;

$input-color: $black;
$input-placeholder-color: $black-transparent;
$input-bg: $white;

@mixin input-field($important: null) {
  position: relative $important;
  width: 100% $important;
  min-height: 45px $important;
  padding-top: $spacing $important;
  padding-bottom: $spacing $important;
  padding-left: $spacing*2 $important;
  padding-right: $spacing*2 $important;

  border: 1px solid $input-color $important;
  color: $input-color $important;
  background-color: $input-bg $important;

  @include body($important: $important);

  &::placeholder {
    color: $input-placeholder-color $important;
    transition: color 0.5s $ease-default $important;
    @include body($important: $important);
  }
  
  &:focus {
    &::placeholder {
      color: $transparent $important;
    }
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $input-bg inset !important;
    -webkit-text-fill-color: $input-color !important;
  }
  
  &.error {
    border-color: $error $important;
  }
}

@mixin input-textarea($important: null) {
  position: relative $important;
  width: 100% $important;
  min-height: 200px $important;
  padding-top: $spacing $important;
  padding-bottom: $spacing $important;
  padding-left: $spacing*2 $important;
  padding-right: $spacing*2 $important;
  resize: none;

  border: 1px solid $input-color $important;
  color: $input-color $important;
  background-color: $input-bg $important;

  @include body($important: $important);

  &::placeholder {
    color: $input-placeholder-color $important;
    transition: color 0.5s $ease-default $important;
    @include body($important: $important);
  }
  
  &:focus {
    &::placeholder {
      color: $transparent $important;
    }
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $input-bg inset !important;
    -webkit-text-fill-color: $input-color !important;
  }
  
  &.error {
    border-color: $error $important;
  }
}

@mixin input-select($important: null) {
  position: relative $important;
  width: 100% $important;
  min-height: 45px $important;
  padding-top: $spacing $important;
  padding-bottom: $spacing $important;
  padding-left: $spacing*2 $important;
  padding-right: $spacing*2 $important;

  border: 1px solid $input-color $important;
  color: $input-color $important;
  background-color: $input-bg $important;

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 192"><polygon points="19.4 0 0 20.7 160 192 320 20.7 300.7 0 160 150.5 19.4 0" fill="%23#{string-slice(#{$black}, 2)}"/></svg>') $important;
  background-repeat: no-repeat $important;
  background-position: calc(100% - 15px) calc(50% + 2px) $important;
  background-size: 15px 15px $important;

  @include body($important: $important);

  &::placeholder {
    color: $input-placeholder-color $important;
    transition: color 0.5s $ease-default $important;
    @include body($important: $important);
  }
  
  &:focus {
    &::placeholder {
      color: $transparent $important;
    }
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $input-bg inset !important;
    -webkit-text-fill-color: $input-color !important;
  }
  
  &.error {
    border-color: $error $important;
  }
}

@mixin input-checkbox($important: null) {
  position: relative $important;
  display: inline-block $important;
  vertical-align: middle $important;
  width: 18px $important;
  height: 18px $important;
  margin-right: calc($spacing/2) $important;
  border: 1px solid $input-bg $important;
  background-color: $input-bg $important;
  cursor: pointer $important;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $input-color;
    transition: transform .2s ease;
  }

  &:after {
    height: 75%;
    width: 2px;
    transform-origin: bottom;
    transform: translate3d(-2px, -8px, 0) rotate(35deg) scaleY(0);
  }
  
  &:before {
    height: 35%;
    width: 2px;
    transform-origin: top;
    transform: translate3d(-5px, 0, 0) rotate(-32deg) scaleY(0);
    transition-delay: .2s;
  }
  
  &:checked {

    &:after {
      transform: translate3d(-2px, -8px, 0) rotate(35deg) scaleY(1);
      transition-delay: .2s;
    }
    
    &:before {
      transform: translate3d(-5px, 0, 0) rotate(-32deg) scaleY(1);
      transition-delay: 0s;
    }
  }
}