@use "../shared" as *;

@mixin wp-heading {
  // @include heading-4;
}

@mixin wp-body {
  // @include body;
}

@mixin wp-caption {
  // @include body;
}

@mixin wp-message {
  // @include body;
}

@mixin wp-label {
  // @include body;
}

@mixin wp-input {
  // @include body;
}

@mixin wp-input-placeholder {
  // @include body;
}

@mixin wp-admin($important: null) {
  font-style: $fs-italic $important;
  font-size: 90% $important;
  color: color-adjust(red, $alpha: -0.25) $important;
}

@mixin wp-btn-reset {
  text-decoration: none !important;
  outline: none !important;
  line-height: initial !important;
  box-shadow: 0 0 0 0 transparent !important;
  border-color: transparent !important;
  border-radius: 0 !important;
}

@mixin wp-text-decoration {
  @include text-decoration($important: !important, $util: true);
}

@mixin wp-btn-primary {
  @include wp-btn-reset;
  // @include btn-primary($important: !important, $util: true);
}

@mixin wp-btn-secondary {
  @include wp-btn-reset;
  // @include btn-secondary($important: !important, $util: true);
}

@mixin wp-logo {
  // @include mask('images/logo.svg');
}