@use "../shared" as *;

/*! purgecss start ignore */

.password {

  $self:&;

  .post-password-form {

    > p {

      &:first-of-type {
        display: none;
      }
      
      &:last-of-type {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        width: 100%;
        text-align: right;

        &:before {
          content: 'To view this protected page, enter the password and hit enter.';
          display: block;
          width: 100%;
          text-align: left;
          // @include heading-3;
        }
      }

      label {
        flex-grow: 1;
        position: relative;
        font-size: 0;
      }

      input[type="password"] {
        width: 100%;
        text-align: left;
        @include input-field;
      }

      input[type="submit"] {
        margin-left: $spacing;
        @include btn-primary($util: true);
      }
    }

    .post-password-form-invalid-password {
      > p {
        color: $error;

        &:before {
          display: none;
        }
      }
    }
  }

}

/*! purgecss end ignore */