@use "../shared" as *;

.columns {

  > .column {
    order: var(--column-order, 0);
  }

  &.d-flex, 
  &.d-flex-wrap {
    >.column {
      width: var(--column-width, 50%);
      padding-left: var(--column-padding, $spacing*2);
      padding-right: var(--column-padding, $spacing*2);
      
      @include bp-up(xl) {
        padding-left: var(--column-padding-up, $spacing*2);
        padding-right: var(--column-padding-up, $spacing*2);
      }

      &--left { 
        padding-left: 0; 
        order: 1; 
      }

      &--right { 
        padding-right: 0; 
        order: 2; 
      }
    }
  }

  &.d-flex-t, 
  &.d-flex-t-wrap {
    >.column {
      width: 100%;

      @include bp-up(md) {
        width: var(--column-width, 50%);
        padding-left: var(--column-padding, $spacing);
        padding-right: var(--column-padding, $spacing);
      }

      @include bp-up(lg) {
        padding-left: var(--column-padding-up, $spacing*2);
        padding-right: var(--column-padding-up, $spacing*2);
      }

      &--left { 
        order: 1; 
        @include bp-up(md) { padding-left: 0; }
      }

      &--right { 
        order: 2;
        @include bp-up(md) { padding-right: 0; }
      }

      + .column {
        margin-top: var(--column-margin, $spacing*2);
        @include bp-up(md) { margin-top: 0; }
      }
    }
  }

  &.d-flex-d, 
  &.d-flex-d-wrap {
    >.column {
      width: 100%;

      @include bp-up(lg) {
        width: var(--column-width, 50%);
        padding-left: var(--column-padding, $spacing);
        padding-right: var(--column-padding, $spacing);
      }

      @include bp-up(xl) {
        padding-left: var(--column-padding-up, $spacing*2);
        padding-right: var(--column-padding-up, $spacing*2);
      }

      &--left { 
        order: 1; 
        @include bp-up(lg) { padding-left: 0; }
      }

      &--right { 
        order: 2; 
        @include bp-up(lg) { padding-right: 0; }
      }

      + .column {
        margin-top: var(--column-margin, $spacing*2);
        @include bp-up(lg) { margin-top: 0; }
      }
    }
  }

  &-swap {

    >.column {
      &:nth-of-type(1) { order: 2; }
      &:nth-of-type(2) { order: 1; }
    }
    
    &.d-flex, 
    &.d-flex-wrap {
      .column {
        &--left {
          padding-left: var(--column-padding, $spacing*2);
          padding-right: 0;
          
          @include bp-up(xl) {
            padding-left: var(--column-padding-up, $spacing*2);
            padding-right: 0;
          }
        }

        &--right {
          padding-left: 0;
          padding-right: var(--column-padding, $spacing*2);
          
          @include bp-up(xl) {
            padding-left: 0;
            padding-right: var(--column-padding-up, $spacing*2);
          }
        }
      }
    }
    
    &.d-flex-t, 
    &.d-flex-t-wrap {
      .column {
        &--left { 
          order: 2;

          @include bp-up(md) { 
            padding-right: 0; 
            padding-left: var(--column-padding, $spacing);
          }

          @include bp-up(lg) {
            padding-right: 0;
            padding-left: var(--column-padding-up, $spacing*2);
          }
        }

        &--right { 
          order: 1;
          
          @include bp-up(md) { 
            padding-left: 0;
            padding-right: var(--column-padding, $spacing);
          }

          @include bp-up(lg) { 
            padding-left: 0;
            padding-right: var(--column-padding, $spacing*2);
          }
        }
      }
    }
    
    &.d-flex-d, 
    &.d-flex-d-wrap {
      .column {
        &--left { 
          order: 2;

          @include bp-up(lg) { 
            padding-right: 0; 
            padding-left: var(--column-padding, $spacing);
          }

          @include bp-up(xl) {
            padding-right: 0;
            padding-left: var(--column-padding-up, $spacing*2);
          }
        }

        &--right { 
          order: 1;
          
          @include bp-up(lg) { 
            padding-left: 0;
            padding-right: var(--column-padding, $spacing);
          }

          @include bp-up(xl) { 
            padding-left: 0;
            padding-right: var(--column-padding, $spacing*2);
          }
        }
      }
    }

  }

  &-flush {
    
    &.d-flex, 
    &.d-flex-wrap {
      .column {
        &--left {
          padding-left: 0;
          @include bp-up(xl) { padding-left: 0; }
        }

        &--right {
          padding-right: 0;
          @include bp-up(xl) { padding-right: 0; }
        }
      }
    }
    
    &.d-flex-t, 
    &.d-flex-t-wrap {
      .column {
        &--left { 
          @include bp-up(md) { padding-left: 0; }
          @include bp-up(lg) { padding-left: 0; }
        }

        &--right { 
          @include bp-up(md) { padding-right: 0; }
          @include bp-up(lg) { padding-right: 0; }
        }
      }
    }
    
    &.d-flex-d, 
    &.d-flex-d-wrap {
      .column {
        &--left { 
          @include bp-up(lg) { padding-left: 0; }
          @include bp-up(xl) { padding-left: 0; }
        }

        &--right { 
          @include bp-up(lg) { padding-right: 0; }
          @include bp-up(xl) { padding-right: 0; }
        }
      }
    }

  }
}