@use "../shared" as *;

/*! purgecss start ignore */

@mixin container-spacing($important: null) {
  padding-left: $spacing*1.5 $important;
  padding-right: $spacing*1.5 $important;

  @include bp-up(md) {
    padding-left: $spacing*3 $important;
    padding-right: $spacing*3 $important;
  }

  @include bp-up(xx) {
    padding-left: $spacing*5 $important;
    padding-right: $spacing*5 $important;
  }
}

.container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  
  &:not([class*="px-"]) {
    @include container-spacing;
  }
  
  @each $name, $breakpoint in $breakpoints {
    &-#{$name} {
      max-width: ($breakpoint - 0.02);

      @include bp-up(md) {
        max-width: ($breakpoint - 0.02 + 30);
      }

      @include bp-up(xx) {
        max-width: ($breakpoint - 0.02 + 50);
      }
    }
  }
}

/*! purgecss end ignore */