@use "../shared" as *;

$section-sizes: (
  100: (svh: 100, min: 567, min-md: 760),
   75: (svh: 75,  min: 550, min-md: 700),
   50: (svh: 50,  min: 400, min-md: 600),
);

@mixin section-size($svh, $min, $min-md, $self) {
  height: calc(#{$svh}svh - var(--ah, 0px));
  min-height: #{$min}px;

  @include bp-up(md) {
    min-height: #{$min-md}px;
  }

  &:not(.section) {
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .container {
    height: 100%;
    width: 100%;
  }

  .bg-cover,
  .bg-inline,
  div[class*="-text"] {
    min-height: #{$min}px;

    @include bp-up(md) {
      min-height: #{$min-md}px;
    }
  }

  div[class*="-wrapper"] {
    @extend #{$self}-#{$svh};
  }

  div[class*="-fixed"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: #{$svh}svh;
    min-height: calc(#{$min}px + var(--ah, 0px));

    @include bp-up(md) {
      min-height: calc(#{$min-md}px + var(--ah, 0px));
    }
  }
}

/*! purgecss start ignore */

.section {
  $self: &;

  position: relative;
  width: 100%;
  z-index: 1;

  div[class*="-text"] {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;

    &.text-center { align-items: center; }
    &.text-left { align-items: flex-start; }
    &.text-right { align-items: flex-end; }

    &.middle { justify-content: center; }
    &.top { justify-content: flex-start; }
    &.bottom { justify-content: flex-end; }
  }

  @each $key, $data in $section-sizes {
    &-#{$key} {
      @include section-size(
        map-get($data, svh),
        map-get($data, min),
        map-get($data, min-md),
        $self
      );
    }
  }
}

/*! purgecss end ignore */