@use "../shared" as *;

$widths: (
  "5": 5%,
  "15": 15%,
  "16": 16.666%,
  "25": 25%,
  "33": 33.333%,
  "45": 45%,
  "75": 75%,
);

@for $i from 1 through 10 {
  .w-#{$i*10} {
    width: $i*10%;
  }
}

@each $name, $width in $widths {
  .w-#{$name} {
    width: #{$width};
  }
}

@for $i from 1 through 10 {
  .wt-#{$i*10} {
    @include bp-up(md) {
      width: $i*10%;
    }
  }
}

@each $name, $width in $widths {
  .wt-#{$name} {
    @include bp-up(md) {
      width: #{$width};
    }
  }
}

@for $i from 1 through 10 {
  .wd-#{$i*10} {
    @include bp-up(lg) {
      width: $i*10%;
    }
  }
}

@each $name, $width in $widths {
  .wd-#{$name} {
    @include bp-up(lg) {
      width: #{$width};
    }
  }
}

.wc {
  width: var(--wc-m, var(--wc));
  
  @include bp-up(md) {
    width: var(--wc-t, var(--wc));
  }

  @include bp-up(lg) {
    width: var(--wc);
  }
}

.w-max {
  max-width: var(--mw, 560px);
  
  @include bp-up(md) {
    max-width: var(--mw-upt, var(--mw, 560px));
  }
  
  @include bp-up(lg) {
    max-width: var(--mw-upd, var(--mw-upt, var(--mw, 560px)));
  }

  /*! purgecss start ignore */

  .text-center & {
    margin-left: auto;
    margin-right: auto;
  }

  .text-right & {
    margin-left: auto;
  }

  /*! purgecss end ignore */
}

.w-max-upt {
  @include bp-up(md) {
    max-width: var(--mw, 560px);
  }

  /*! purgecss start ignore */

  .text-center & {
    margin-left: auto;
    margin-right: auto;
  }

  .text-right & {
    margin-left: auto;
  }

  /*! purgecss end ignore */
}

.w-max-upd {
  @include bp-up(lg) {
    max-width: var(--mw, 560px);
  }

  /*! purgecss start ignore */

  .text-center & {
    margin-left: auto;
    margin-right: auto;
  }

  .text-right & {
    margin-left: auto;
  }

  /*! purgecss end ignore */
}

.w-min {
  min-width: var(--mw, 560px);
  
  @include bp-up(md) {
    min-width: var(--mw-upt, var(--mw, 560px));
  }
  
  @include bp-up(lg) {
    min-width: var(--mw-upd, var(--mw-upt, var(--mw, 560px)));
  }
}

.w-full {
  @include fullwidth;
}